<div class="card">
    <div class="card-body">
        <table class="table" aria-hidden="true">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Register Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="state in $ctrl.states">
                <th scope="row">{{state.code}}</th>
                <td>{{state.name}}</td>
                <td>{{state.createdDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="$ctrl.remove(state.id)" title="Delete">
                        <i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button class="btn btn-primary" ng-click="$ctrl.edit(state)" title="Edit">
                        <i class="fa fa-pencil-alt" aria-hidden="true"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
