<div class="card">
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.error">
        {{$ctrl.error}}
    </div>
    <form>
        <div class="card-body">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="codeInput">Code</span>
                </div>
                <input type="text" class="form-control" maxlength="2" minlength="2" aria-describedby="codeInput"
                       required ng-model="$ctrl.state.code">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="nameInput">Name</span>
                </div>
                <input type="text" class="form-control" maxlength="255" aria-describedby="nameInput"
                       required ng-model="$ctrl.state.name">
            </div>

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
        </div>
    </form>
</div>
