<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h1>Federated States</h1>
        </div>
    </div>

    <div class="card-body">
        <p>Federated states manager.</p>
    </div>
</div>
